root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{py,toml,yml,yaml,json}]
indent_style = space
indent_size = 4

[*.{ini,cfg}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
# Prevent editors from stripping spaces after equals
trim_trailing_spaces_before_values = false
